h1, h2, h3, h4, h5, h6
  font-size: 28px

p
  margin-bottom: 1em

  &:last-of-type
    margin-bottom: 0

strong
  font-weight: bold

i
  font-style: italic

a
  color: #e56df7
  text-decoration: none

nav
  background: transparent url(../../assets/images/cassette.png) no-repeat center
  background-size: contain
  display: block
  height: 50px
  width: 80px
  margin: 1em

  position: fixed
  top: 0
  right: 0

  opacity: 0.65
  cursor: pointer
  transition: opacity 250ms ease

  &:hover
    opacity: 1

.error
  display: block
  padding: 1em 2em
  margin: 2em 0 0
  min-width: 50%

  background: #fd8484
  border-radius: 2px

  position: fixed
  top: 0
  left: 50%
  transform: translate(-50%, 0)